.card img {
    height: 200px;
}

.card {
    margin-bottom: 20px;
}


.card-footer button {
  cursor: pointer;
}

.card-footer {
  padding: 0;
  margin: 0;
  border : 0;
  margin-left: -1px;
}
button:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
  transition: 0.5s all;
  backface-visibility: hidden;
}
