.nav-link.dropdown-toggle {
  cursor: pointer;
}
img {
  margin-right: 10px;
  width: 30px;
  opacity: 0.6;
  cursor: pointer;
}
img:hover {
  opacity: 1;
}
.navbar-brand {
  color: black;
  opacity: 0.6;
}
.navbar-brand:hover {
  color: black;
  opacity: 1;
}